
 body{
	margin: 0;
	padding: 0;
	font-family: arial;
	background:url(../image/coffee_background.jpg);
	background-size: 100vw 100vh;
}
header{
	width: 100vw;
	height: 70px;
	background: linear-gradient(to right, #1e0c06, #5c3317);
	border-top: 1px solid black;
	border-bottom: 1px solid #fffde0; 
}

nav{
	color: white;
}

.title{
	float: left;
	margin: 4px 450px 4px 20px;
	padding-right: 12px;
	border-right: 4px solid #fffde0;
}
 
.sub1{
	font-size: 35px;
	margin: 0px 0px 2px 0px;
}

.sub2{
	font-size: 20px;
}
nav ul{
	float: left;
}

nav ul li{
	float: left;
	list-style: none;
}

nav ul li a{
	margin: 10px 20px;
	font-size: 30px;
	color: #fffde0;
	text-decoration: none;
}

nav ul li img{
	margin: 0px 10px;
	padding: 0px 0px 10px 0px;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}



